html, body{
	min-width: 320px;
	font-family: "Arial", "Consolas", "Microsoft JhengHei", "Microsoft YaHei", "STHeiti";
}
.bg-landing {
	background-image: url("../img/Web/Landing.jpg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	min-height: calc(100vh - 3rem);
	padding-bottom: 3rem;
}
.text-landing {
	text-shadow: #333 0.1rem 0.1rem 0.3rem;
	margin: 1rem auto;
}
.landing-obj {
    max-width: 60vw;
    width: 25rem;
    height: auto;
    margin: 2rem auto;
}
.L-side, .ex_nav {
	max-height: 100vh;
	padding: 0px;
	border-bottom: solid 1px #ccc;
	height: fit-content;
}
#ex_nav>.list-group, #navbar {
	max-height: calc(100vh - 3.5rem);
	overflow-y: auto;
}
.M-side {
	border: solid 1px #ccc;
	min-height: 100vh;
	text-align: justify;
}
#navbar>nav>a {
	color: rgb(0,0,0);
}
.nav-active {
	background-color: #dae0e5!important;
}
.sticky {
	position: fixed;
	top: 0px;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
	font-weight: 600;
}
.h2, .h3, h2, h3 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.nav-main-tag::before {
	position: absolute;
	transform: skewX(-30deg);
   	content:'';
	background-color: #333;
	top: 0px; bottom: 0px; left: 0px; right: 0px;
	transition: background-color 0.2s ease 0s;
	z-index: -1;
}
.mono-text-area {
	font-family: "consolas","monospace";
}
.nav-main-tag{
	text-align: center;
	display: inline-block;
	position: relative;
	cursor: pointer;
	z-index: 100;
	color: #fff;
	font-size: 1.5rem;
	line-height: 2.5rem;
	min-height: 3rem;
	max-height: 3rem;
   	margin-left: -15px;
}
.active.nav-main-tagI::before, .nav-main-tagI:hover::before {
	background-color: #28a745;
}
.active.nav-main-tagT::before, .nav-main-tagT:hover::before {
	background-color: #007bff;
}
.active.nav-main-tagS::before, .nav-main-tagS:hover::before {
	background-color: #f11;
}
.active.nav-main-tagP::before, .nav-main-tagP:hover::before {
	background-color: #fa0;
}
.bg-black {
	background-color: #111;
}
footer {
	text-align: center;
	padding: 1.5rem;
}
.ft-head {
	font-size: 1.3rem;
	margin-bottom: 1rem;
}
.ft-class {
	margin: auto 0.5rem;
	display: inline-block;
}
a {
	color: #07b;
}
p {
	line-height: 1.7rem;
	margin-bottom: 0.5rem;
}
.indent {
	text-indent: 2rem;
}
.nav-link.tr2 {
	padding: 0.5rem;
	padding-left: 2rem;
	font-size: 0.9rem;
}
@media (max-width: 767.98px) {
	.L-side {
		margin-top: 0px;
		height: auto !important;
		box-shadow: 1px 1px 5px #888;
	}
	.M-side.pt-nav {
		margin-top: 3rem;
	}
	.nav-main-tag::before {
		transform: none;
	}
	.nav-main-tag {
		width: 100%;
		margin-left: 0px;
	}
}
@media (max-width: 1200px) {
	.ex_nav {
		display: none;
	}
}